@model PostEditViewModel
@{
    ViewBag.Title = "Yazıyı Düzenle";
    ViewBag.HeaderTitle = "Yazıyı Düzenle";
}

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ContentSummary, new { id = "contentSummary" })
    <div class="card card-primary card-outline">
        @*todo: yazıyı sitede görüntüle butonu eklenecek*@
        @*<div class="card-header">
                <a href="#" class="btn btn-outline-secondary w-100">Yazıyı sitede görüntüle</a>
            </div>*@
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Başlık" })
                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.CategoryId, null, "Kategori seçiniz", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(x => x.Content, new { id = "compose-textarea", @class = "form-control", placeholder = "birşeyler yazınız", style = "height: 300px" })
                @Html.ValidationMessageFor(x => x.Content, null, new { @class = "text-danger" })

            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="float-right">
                <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslak</button>
                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>

            </div>
            <a href="@Url.Action("Index","Posts")" class="btn btn-default"><i class="fas fa-times"></i> Vazgeç</a>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
}

@section scripts{
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote({
                "lang": "tr-TR"
            })

            //take plain text from editor and slice first 700 chars and put hidden input
            $('#sendPost').click(function () {
                let plainText = $($("#compose-textarea").summernote('code')).text()
                $('#contentSummary').attr('value', plainText.slice(0, 700) + '...')
            })
        })
    </script>
}