@model PostNewViewModel
@{
    ViewBag.Title = "Yazı Ekle";
    ViewBag.HeaderTitle = "Yazı Ekle";
}

@using (Html.BeginForm("New", "Posts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="card card-primary card-outline">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Başlık" })
                        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.CategoryId, null, "Kategori seçiniz", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.TextAreaFor(x => x.Content, new { id = "compose-textarea", @class = "form-control", placeholder = "birşeyler yazınız", style = "height: 300px" })
                @Html.ValidationMessageFor(x => x.Content, null, new { @class = "text-danger" })
            </div>
            <div class="form-inline">
                @Html.LabelFor(x => x.Slug, new { @class = "col-1" })
                @Html.TextBoxFor(x => x.Slug, new { @class = "form-control col-10" })
                @Html.ValidationMessageFor(x => x.Slug, null, new { @class = "text-danger" })
                <a href="#" class="col-1 text-secondary" id="btnRegenerateSlug"><i class="fas fa-sync ml-2"></i></a>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <div class="float-right">
                <button type="button" class="btn btn-default"><i class="fas fa-pencil-alt"></i> Taslak</button>
                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Gönder</button>

            </div>
            <a href="@Url.Action("Index","Posts")" class="btn btn-default"><i class="fas fa-times"></i> Vazgeç</a>
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
}


@section scripts{
    <script>
        $(function () {

            function GenerateSlug() {
                $.ajax({
                    method: "post",
                    url: "@Url.Action("GenerateSlug", "Posts")",
                    data: {Title: $("#Title").val().trim()},
                    success: function (res) {
                        $("#Slug").val(res);
                    }
                })
            }

            $("#btnRegenerateSlug").click(function (e) {
                e.preventDefault();
                if ($("#Title").val().trim()) {
                    GenerateSlug();
                }
            })

            $("#Title").on("blur", function () {
                if ($(this).val().trim() && !$("#Slug").val().trim()) {
                    GenerateSlug();
                }
            })

            //Add text editor
            $('#compose-textarea').summernote({
                lang: "tr-TR",
                height: 300,
                placeholder: "Bir şeyler yazınız..",
                // https://stackoverflow.com/questions/21628222/summernote-image-upload
                callbacks: {
                    onImageUpload: function (files) {
                        uploadFile(files[0]);
                    }
                }
            });

            function uploadFile(file) {
                var data = new FormData();
                data.append("file", file);
                $.ajax({
                    type: "post",
                    url: "@Url.Action("AjaxImageUpload", "Posts")",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $('#compose-textarea').summernote("insertImage", data.url);
                        console.log(data);
                    },
                    error: function (data) {
                        console.log("error");
                        console.log(data);
                    }
                });
            }
        });
    </script>
}