@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()


        @Html.ActionLink("Hesap", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "btn btn-sm btn-secondary" })
        if (User.IsInRole("admin"))
        {
            <a href="@Url.Action("Index", "Dashboard", new {area = "Admin" })" class="btn btn-sm btn-outline-secondary">Panel</a>
        }
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-outline-secondary">Çıkış Yap</a>

    }
}
else
{
    <a class="btn btn-sm btn-outline-secondary mr-1" href="@Url.Action("Login", "Account")">Giriş Yap</a>
    <a class="btn btn-sm btn-success" href="@Url.Action("Register", "Account")">Kayıt Ol</a>
}
