@model List<Post>
@{
    ViewBag.Title = "Home Page";
    string disabledNew = ViewBag.page > 1 ? "" : "disabled";
    string disabledOld = ViewBag.page < ViewBag.pageCount ? "" : "disabled";
}

<h3 class="pb-4 mb-4 font-italic border-bottom">
    @ViewBag.Subtitle
</h3>

<div class="blog-post">
    @foreach (var item in Model)
    {
        <h2 class="blog-post-title"><a href="@Url.Action("ShowPost","Home", new { id = item.Id })" class="text-reset">@item.Title</a></h2>
        <p class="blog-post-meta" title="@item.CreatedAt.Value">
            <a href="#">@item.Author.UserName</a> tarafından @item.CreatedAt.Value.ToShortDateString() tarihinde yazıldı |
            <a href="@Url.Action("ShowPost","Home", new { id = item.Id })#comments">@item.Comments.Count() yorum</a>
        </p>
        @Html.ShowPost(item.Content);
        <p>
            <a href="@Url.Action("ShowPost","Home", new { id = item.Id })">devamını oku...</a>
        </p>
    }
</div><!-- /.blog-post -->

<nav class="blog-pagination">

    <a class="btn btn-outline-primary @disabledOld" href="@Url.Action("Index", "Home", new { cid = ViewBag.cid, page = ViewBag.nextPage })" tabindex="-1" aria-disabled="true">Eski</a>

    <a class="btn btn-outline-primary @disabledNew" href="@Url.Action("Index", "Home", new { cid = ViewBag.cid, page = ViewBag.prevPage })" tabindex="-1" aria-disabled="true">Yeni</a>

</nav>