@model List<Comment>
@{
    ViewBag.Title = "Yorumlar";
    ViewBag.HeaderTitle = "Yorumları Listele";
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Yazar</th>
                    <th>Yazı Başlığı</th>
                    <th>Yorum</th>
                    <th>Zaman</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comment in Model)
                {
                    <tr>
                        <td>@comment.Id</td>
                        <td>@comment.AuthorName</td>
                        <td>@comment.Post.Title</td>
                        <td>@comment.Content</td>
                        <td>@comment.CreatedAt</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var table = $(".table").DataTable({
            order: [[4, "desc"]],
            language: {
                "url": "@Url.Content("~/Areas/Admin/plugins/datatables/Turkish.json")"
            }
        });
    </script>
}
